@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    --color-primary: #5bbe66;
    --color-secondary: #74da7f;
    /*--color-secondary: #f35b5a;*/
    --color-tertiary: #f6f6f6;
    --height-nav: 70px;
}
body::-webkit-scrollbar {
    width: 16px;
}

body::-webkit-scrollbar-track {
    background: #fff;
}

body::-webkit-scrollbar-thumb {
    background-color: #eaeaea;
    border-radius: 20px;
    border: 5px solid #fff;
}
body,html{
    overflow-x: hidden;
    font-family: poppins;
    color: #2c2c2c;
}
section{
    padding: var(--height-nav) 0;
}
section h2{
    color: var(--color-primary);
    text-align: center;
    font-weight: 600;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
    color: #2c2c2c;
}
p{
    line-height: 22px;
    font-size: 15px;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
button,
a.button{
    display: inline-block;
    background: linear-gradient(to right, var(--color-primary),var(--color-secondary),var(--color-primary));
    background-size: 164%;
    color: #fff;
    font-weight: 600;
    text-align: center;
    padding: 10px 20px;
    border: 0;
    border-radius: 9px;
    transition: .3s;
}
button:hover,
a.button:hover{
    background-position-x: right;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
    background: var(--color-primary);
    z-index: 2;
}
#btn-whatsapp{
    display: flex;
    background: #1ad03f;
    color: #fff;
    position: fixed;
    bottom: 75px;
    right: 20px;
    padding: 15px;
    border-radius: 50%;
    z-index: 2;
}
.col-md-6,.col-lg-6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.slick-prev, .slick-next{
    position: absolute;
    top: calc(50% + 53px);
    background: transparent;
    padding: 0;
    z-index: 2;
}
.slick-prev svg, .slick-next svg{
    color: #888;
    width: 20px;
    height: 20px;
}
.slick-prev:hover svg, .slick-next:hover svg{
    color: #000;
}
.slick-prev{
    left: -20px;
}
.slick-next{
    right: -20px;
}

header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 10;
    background: #fff;
    height: var(--height-nav);
    transition: .3s;
    box-shadow: 0 0 13px -3px rgba(0,0,0,.3);
}
header nav,
header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav svg{
    display: none;
    color: var(--color-primary);
}
header nav{
    height: 100%;
}
header nav .logo img{
    width: auto;
    height: 35px;
}
header nav ul li a{
    display: block;
    padding: 10px;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    position: relative;
    transition: .3s;
}
header nav ul li a:hover{
    color: var(--color-primary);
}

.wave-1{
    position: relative;
}
.wave-1 .container{
    position: relative;
    z-index: 2;
}

.circle-1{
    position: relative;
    width: calc(100% - 40px);
    max-width: 300px;
    max-height: 300px;
    margin: 0 auto;
}
.circle-1::after{
    content: '';
    background: var(--color-primary);
    border-radius: 57% 43% 75% 45%;
    transform: rotate(28deg);
    position: absolute;
    top: -8px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.circle-1 > div{
    border-radius: 57% 43% 75% 45%;
    overflow: hidden;
    position: relative;
    z-index: 2;
    height: 100%;
    max-height: 300px;
}
.circle-1 > div img{
    width: 125%;
}

.gota-1{
    position: absolute;
    left: -12px;
    z-index: 3;
    width: 93px;
    opacity: .6;
}
.gota-2{
    position: absolute;
    bottom: 24px;
    right: 45px;
    z-index: 3;
    width: 40px;
    opacity: .6;
}

#inicio{
    min-height: 600px;
    
    background: var(--color-tertiary);
    display: flex;
    align-items: center;
    position: relative;
    background-size: 85px;
    background-position-y: 60px;
    background-position-x: 20px;
}
#inicio h1{
    font-weight: 700;
    min-width: 460px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}
#inicio h1 b{
    color: var(--color-primary);
    text-shadow: 0 8px 15px rgba(0,0,0,.1);
}
#inicio li{
    margin-bottom: 7px;
}
#inicio .col-md-6:first-child svg{
    width: 18px;
    height: 18px;
}
#inicio .col-md-6:last-child img,
#inicio .col-md-6:last-child svg{
    position: absolute;
    bottom: 20px;
    width: auto;
    max-height: 500px;
    border-radius: 10px;
}

#plataformas{
    text-align: center;
}
#plataformas .plataformas{
    display: flex;
    justify-content: space-around;
    position: relative;
}
#plataformas .plataformas .plataforma{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    height: 30px;
    margin-top: 35px;
}
#plataformas .plataformas .plataforma img{
    filter: brightness(0);
    opacity: .5;
    max-height: 30px;
    width: auto;
    max-width: 100%;
}

#vantagens{
    background: var(--color-tertiary);
}
#vantagens .vantagens{
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}
#vantagens .vantagens .vantagem{
    width: calc(33.3333333% - 20px);
    margin: 10px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#vantagens .vantagens .vantagem svg{
    display: block;
    margin: 0 auto;
    width: 35px;
    height: 35px;
    fill: var(--color-primary);
    margin-bottom: 10px;
}
#vantagens .vantagens .vantagem b{
    margin-bottom: 10px;
}
#vantagens .vantagens .vantagem p{
    opacity: .7;
}

#integracoes img{
    width: auto;
    height: 100%;
    max-height: 470px;
}

#sobre-nos{
    background: var(--color-tertiary);
}
#sobre-nos h2{
    font-weight: 700;
    margin: 0;
}
#sobre-nos em{
    color: var(--color-primary);
    font-weight: 700;
    margin-bottom: 16px;
}

#hospedagem{
    background: var(--color-primary);
}
#hospedagem h2{
    color: #fff;
}
#hospedagem .container > h5{
    text-align: center;
    color: #fff;
}
#hospedagem .preco > div > div > small{
    color: #868686;
    display: block;
    text-align: center;
    margin-bottom: 10px;
}
#hospedagem .preco .valor{
    text-align: center;
    margin: 10px 0 0;
}
#hospedagem .preco .valor small{
    color: #868686;
    font-size: 11px;
}
#hospedagem .preco{
    padding: 20px;
}
#hospedagem .preco > div{
    background: #fff;
    padding: 20px;
    border-radius: 7px;
}
#hospedagem .preco > div b{
    display: block;
    text-align: center;
    color: var(--color-primary);
    font-size: 17px;
}
#hospedagem .preco .img{
    display: block;
    width: 100%;
    max-width: 150px;
    margin: 0 auto;
    margin-bottom: 15px;
}
#hospedagem .preco .de{
    text-decoration: line-through;
    color: #868686;
}
#hospedagem .preco a{
    margin-top: 15px;
    display: block;
}

#clientes{
    margin-bottom: -100px;
}
#clientes .container{
    position: relative;
}
#clientes .container:after{
    content: '+100';
    color: #eeeeee;
    font-size: 300px;
    font-weight: bold;
    display: block;
    text-align: center;
}
#clientes h4{
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#clientes b{
    color: var(--color-primary);
}

#cases{
    text-align: center;
}
.cases{
    display: flex;
    flex-wrap: wrap;
}
.cases a{
    padding: 10px;
    width: 33.3333%;
}
.cases a img{
    width: 100%;
}

#institucional{
    background: var(--color-tertiary);
}
#institucional svg{
    color: var(--color-primary);
    width: 15px;
    height: 15px;
}
#institucional .container > div{
    display: flex;
}
#institucional .container > div > div{
    padding: 0 20px;
}
#institucional .container > div > div:first-child{
    max-width: 33%;
}
#institucional .button{
    color: #fff;
    border: 1px solid var(--color-primary);
    transition: .3s;
}
#institucional a.button:hover{
    background: transparent;
    color: var(--color-primary);
}
#institucional .container > div > div:first-child img{
    margin-bottom: 10px;
    max-width: 100%;
    width: auto;
}
#institucional h4{
    font-weight: 700;
    font-size: 17px;
}
#institucional a{
    transition: .3s;
}
#institucional a:hover{
    color: var(--color-primary);
}
#institucional p,
#institucional a,
#institucional li{
    font-size: 13px;
    line-height: 19px;
    font-weight: 300;
}
#institucional .siga-nos ul{
    display: flex;
    flex-wrap: wrap;
}
#institucional .siga-nos ul li{
    padding: 5px;
}
#institucional .siga-nos ul li:first-child{
    padding: 5px 0;
}
#institucional .siga-nos .button{
    padding: 15px;
    display: inline-flex;
}
#institucional .siga-nos .button svg{
    width: 20px;
    height: 20px;
}

footer{
    background: var(--color-primary);
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
}

@media(max-width: 1200px){
    #institucional .siga-nos ul li:first-child{
        padding: 5px;
    }
}
@media(max-width: 990px){
    #passos .passos:before{
        top: 40px;
    }
    #passos .passos .passo > div{
        width: 80px;
        height: 80px;
        margin-bottom: 20px;
    }
    #passos .passos .passo{
        padding: 0 10px;
        font-size: 12px;
    }
}
@media(max-width: 991px){
    .col-lg-6{
        padding: 20px 40px;
    }
    #integracoes{
        padding-bottom: 0;
    }
}
@media(max-width: 768px){
    .slick-prev,.slick-next{
        display: none;
    }
    .col-md-6{
        padding: 20px 40px;
    }

    header nav ul{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        flex-direction: column;
        padding: 20px;
        max-height: calc(100vh - var(--height-nav));
        overflow: auto;
        background: #fff;
        border-top: 1px solid var(--color-primary);
        transition: .3s;
    }
    header nav ul.active{
        display: flex;
        box-shadow: 0 8px 15px 0px rgba(0,0,0,.1);
    }
    header nav svg{
        display: inline-block;
    }

    #inicio h1,
    #inicio p{
        min-width: 0;
        text-align: center;
    }
    #inicio a{
        margin: 0 auto;
    }
    #inicio .col-md-6:last-child img, #inicio .col-md-6:last-child svg{
        position: static;
        max-width: 100%;
    }

    #integracoes img{
        max-height: 270px;
    }

    #clientes .container:after{
        font-size: 230px;
    }

    #vantagens .vantagens .vantagem{
        width: calc(50% - 20px);
        padding: 10px;
    }
    #institucional .container > div{
        flex-wrap: wrap;
    }
    #institucional .container > div > div{
        padding: 20px;
    }
    #institucional .container > div > div:first-child{
        padding-bottom: 0;
        max-width: 100%;
    }

    footer{
        z-index: 3;
    }
}
@media(max-width: 572px){
    #inicio{
        background-position-y: 50px;
        background-position-x: -12px;
    }

    #passos .passos{
        flex-wrap: wrap;
    }
    #passos .passos:before{
        content: none;
    }
    #passos .passos .passo{
        width: 50%;
    }
    #passos .passos .passo:first-child{
        margin-bottom: 40px;
    }

    #vantagens .vantagens .vantagem{
        padding: 0;
    }
    #vantagens .vantagens b,
    #vantagens .vantagens p{
        font-size: 12px;
    }

    #clientes{
        margin-bottom: 0;
    }
    #clientes h4{
        font-size: 20px;
        padding: 0 40px;
    }
    #clientes .container:after{
        font-size: 113px;
    }
}
@media(min-width: 991px){
    #relatorios img{
        max-width: calc(100% - 40px);
    }
}